{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="cyber-heading">
         About The Project
    </h1>

    <div class="about-card">

        <h2> Project Overview</h2>

        <p>
            AI Phishing URL Detector is a machine learning-based
            cybersecurity application designed to identify
            malicious and phishing URLs before users interact
            with them. The system analyzes URLs using a trained
            machine learning model and provides security insights
            to help users avoid online threats.
        </p>

    </div>

    <div class="about-card">

        <h2> Key Features</h2>

        <ul>

            <li>AI-Based URL Classification</li>

            <li>Real-Time Phishing Detection</li>

            <li>Confidence Score Analysis</li>

            <li>Security Recommendations</li>

            <li>Analytics Dashboard</li>

            <li>Scan History Tracking</li>

            <li>CSV Report Export</li>

        </ul>

    </div>

    <div class="about-card">

        <h2> Technology Stack</h2>

        <ul>

            <li>Python</li>

            <li>Flask</li>

            <li>Machine Learning</li>

            <li>TF-IDF Vectorization</li>

            <li>SQLite Database</li>

            <li>HTML, CSS & JavaScript</li>

        </ul>

    </div>

<div class="about-card">

    <h2> Future Scope</h2>

    <ul>
        <li>Browser Extension Integration</li>
        <li>Email Phishing Detection</li>
        <li>Deep Learning Models</li>
        <li>Real-Time Threat Intelligence</li>
        <li>Cloud-Based Deployment</li>
    </ul>

</div>

<div class="developer-info">

    👨‍💻 Developed by
    <strong>Vishalishree E</strong>
    • Department of Information Technology
    • SRM Institute of Science and Technology

</div>

</div>

{% endblock %}
